// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery_wrapper {
  display: block;
}

.gallery_center {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
  clear: both;
}
.gallery_header {
  text-align: center;
  font-size: 6em;
}

.gallery_section {
  margin: 0 20%;
}

.gallery_upload {
  margin-top: 40px;
}

.gallery_picture {
  position: relative;
  display: inline-block;
  margin: 5px;
  opacity: 1;
  cursor: pointer;
}

.gallery_picture.residential {
  position: relative;
  border: 1px solid rgb(252, 125, 0);
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 3px solid rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgb(85, 85, 85);
  }
}

.gallery_picture.commercial {
  position: relative;
  border: 1px solid rgba(0, 66, 92, 1);
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 3px solid rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgb(85, 85, 85);
  }
}

.gallery_overlay {
  position: absolute;
  display: none;
  top: 35%;
  width: 100%;
  height: 0;
  text-align: center;
  font-size: 3em;
  color: whitesmoke;
  text-shadow: 0 0 7px rgb(5,5,5);
}