//https://coolors.co/app/00425c-698ea3-fc7d00-f2f2f2-20252b
$anderson-darkblue: #00425C;
$anderson-lightblue: #698EA3;
$anderson-orange: #FC7D00;
$anderson-white: #F2F2F2;
$anderson-black: #20252B;

//Reset all css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html body{
  width: 100%;
  padding-top: 61px;
  background: image-url('shattered_blue.png') repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal.modal-wide .modal-dialog {
  min-width: 250px;
  width: 60%;
}

.image_picker_selector li {
  margin: 0 2px 2px 0 !important;
}
.thumbnail {
  margin: 0 !important;
  padding: 3px !important;
}
.thumbnail > img {
  height: 128px !important;
}

.whisper {
  font-size: .8em;
  font-style: italic;
  color: #AAAAAA;
}

.lefted {
  float: left;
}

.righted {
  float: right;
}

.save-wrapper {
  position: relative;
  margin: 15px 0 0 0;
  overflow: auto;
  cursor: pointer;
}
.thumb_button a:visited {
  color: white;
}

.navbar-brand img {
  width: 40px;
}

/* fluid 5 columns */
.grid-sizer,
.masonry-brick { width: 20%; }
/* 2 columns */
.masonry-brick--width2 { width: 40%; }