//https://coolors.co/app/00425c-698ea3-fc7d00-f2f2f2-20252b
$anderson-darkblue: #00425C;
$anderson-lightblue: #698EA3;
$anderson-orange: #FC7D00;
$anderson-white: #F2F2F2;
$anderson-black: #20252B;

.light-blue {
  color: $anderson-lightblue;
}

.light-gray {
  background-color: #ddd;
}

.section_header {
  color: $anderson-white;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  @media screen and (max-width: 600px) { font-size: 32px; }
  @media screen and (min-width: 601px) { font-size: 48px; }
}

.section_header_dark {
  @extend .section_header;
  color: $anderson-black;
  text-shadow: 0 0 0 #333;
}

body .bg {
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  background: image-url('new_york.jpeg') no-repeat center center;
  @media screen and (min-width: 1497px) { background-size: cover; }
  top:0;
  left:0;
  z-index: -1;
}

body .jumbotron {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
  text-align: center;
  background:transparent;
  z-index: 1;
  span {
    color: $anderson-white;
    text-shadow: 1px 1px 2px #333;
  }
  p a {
    color: $anderson-white;
  }
}

.description {
  position: relative;
  top: -15px;
  color: $anderson-white;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  @media screen and (max-width: 600px) { font-size: 18px; }
  @media screen and (min-width: 601px) { font-size: 32px; }
}

.banner {
  padding: 40px;
  color: whitesmoke;
  font-size: 124px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  .slogan {
    font-size: 36px;
  }
}

.call_to_action {
  position: relative;
  top: 20%;
  text-align: center;
}

body .main_slider {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height: 200px;
  box-shadow: 0 0 20px 1px #555;
  background-color: transparent;
  .main_slider_image {
    width: 150px;
    padding: 2px;
  }
  .slick-arrow {
    text-shadow: 0 0 2px #000;
  }
  .slick-prev {
    left: 10px;
    z-index: 3;
  }
  .slick-next {
    right: 10px;
    z-index: 3;
  }
}

.location_thumbnail {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  .location_title {
    font-family: 'Kameron', Georgia, serif;
    font-size: 36px;
    color: #333;
  }
}

.section_high_level {
  padding: 20px;
}
.thumbnail {
  text-align: center;
  background-color: $anderson-lightblue;
  border: 1px solid #333;
  .circle_hover {
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 100px;
    transition: .1s;
    cursor: pointer;
    &:hover {
      transition: .2s;
      background: #777;
    }
    img {
      position: relative;
      top: 5px;
      display: inline-block;
      padding: 15px;
    }
  }
}
.caption .table_wrapper:first-child {
  color: transparent;
}

.section_quality {
  height: 600px;
  background-color: $anderson-orange;
}

.section_location {
  height: 600px;
  background-color: $anderson-black;
}

.location_content {
  height: 400px;
  background-color: #444;
  overflow: auto;
}