
@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.light-blue {
  color: $anderson-lightblue;
}

.light-gray {
  background-color: #ddd;
}

.orange {
  background-color: $anderson-orange;
}

.black {
  background-color: $anderson-black;
}

.banner_form {
  position: absolute;
  top: 330px;
  right: 10px;
  width: 215px;
  background-color: rgba(245, 245, 245, .9);
  border: 1px solid rgb(85, 85, 85);
  border-radius: 3px;
  .edit_title {
    margin: 0 0 10px 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(190, 190, 190);
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #aaa;
  }
  .edit_body {
    margin: 0 10px;
  }
}

.banner_upload {}

.section_header {
  margin-top: 60px;
  color: $anderson-white;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  @media screen and (max-width: 600px) { font-size: 32px; }
  @media screen and (min-width: 601px) { font-size: 48px; }
}

.section_header_dark {
  @extend .section_header;
  color: $anderson-black;
  text-shadow: 0 0 0 #333;
}

body .bg {
  position: fixed;
  width: 100%;
  height: 450px; /*same height as jumbotron */
  @media screen and (min-width: 1497px) { background-size: cover; }
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

body .jumbotron {
  width: 100%;
  height: 450px;
  margin-bottom: 0;
  text-align: center;
  background: transparent;
  z-index: 1;
  h1 span img {
    margin: 0 0 20px 0;
    padding: 20px;
    background: linear-gradient(140deg, rgba(255,255,255,0), rgba(255,255,255,.8), rgba(255,255,255,.2));
    border-radius: 3px;
  }
}

.description {
  position: relative;
  top: -15px;
  color: $anderson-white;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  @media screen and (max-width: 600px) { font-size: 18px; }
  @media screen and (min-width: 601px) { font-size: 32px; }
}

.banner {
  padding: 40px;
  color: whitesmoke;
  font-size: 124px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  .slogan {
    font-size: 36px;
  }
}

.call_to_action {
  position: relative;
  top: 20%;
  text-align: center;
}

body .main_slider {
  position: relative;
  top: -61px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height: 200px;
  box-shadow: 0 0 20px 1px #555;
  background-color: transparent;
  .main_slider_image {
    width: 150px;
    padding: 2px;
  }
  .slick-arrow {
    text-shadow: 0 0 2px #000;
  }
  .slick-prev {
    left: 10px;
    z-index: 3;
  }
  .slick-next {
    right: 10px;
    z-index: 3;
  }
}

.location_thumbnail {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  .location_title {
    font-family: 'Kameron', Georgia, serif;
    font-size: 36px;
    color: #333;
  }
}

.thumbnail {
  position: relative;
  height: 550px;
  text-align: center;
  background-color: $anderson-lightblue;
  border: 1px solid #333;
  .square_hover {
    overflow: auto;
    margin: 10px 0 0 0;
    border-radius: 3px;

    img {
      outline: 10px solid rgba(255,255,255, .3);
      outline-offset: -10px;
      border: 1px solid lightgray;
      border-radius: 3px;
    }

    img + img {
      border: 10px solid rgba(255,255,255,.5);
    }
  }

  .thumb_button {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
.caption h3 {
  margin: 10px 0 0 0;
}
.caption .table_wrapper:first-child {
  color: transparent;
}

.section_wrapper {
  height: 700px;
}

.section_content {
  height: 400px;
  padding: 20px;
  color: $anderson-white;
  background-color: #444;
  overflow: auto;
  @media screen and (max-width: 900px) { font-size: 16px; }
  @media screen and (min-width: 901px) and (max-width: 1400px) { font-size: 1.8vw; }
  @media screen and (min-width: 1401px) { font-size: 24px; }
}

.section_header .col-sm-6 #map{
  height: 400px;
  width: 100%;
  overflow: auto;
}

.faded_container {
  position: relative;
  height: 400px;
}

.faded_container .after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  background-color: #fff;
}

.container.login_content {
  text-align: center;
}

.market_table {
  width: 95%;
  float: left;
  margin: 20px 0;
  text-align: right;
}