// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_background {
  width: 100%;
  height: 600px;
  background: image-url('new_york.jpeg') no-repeat;
  background-size: cover;
}
